// _components.page-body.scss
//
//

// page title
.page-title {
  margin: 1rem auto;
  font-size: 1.5rem;
  text-align: center;
}

.subsection {
  &__title {
    margin: 1rem auto;
    font-size: 1.5rem;
    text-align: center;
  }
}

// modules:
// - form styling module
@import 'blocks/_block.body.form';



@import 'blocks/_block.body.brick';


