// _element.page.scss
//
// - base element styling for page

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

// style input element here to generalize to all input elements
input {
  font-size: 1rem;
  height: 2rem;
  padding: 0 0.5rem; // side padding

}

footer {
  margin: 1rem 0;
  text-align: center;
}
