// _objects.wrappers.scss
//
// general wrappers

// moved to a mixin - 3/27/17
/*
.wrapper {
  &--1 { // variation 1 of possible wrapper stylings
    margin: 1rem auto;
    width: 80%;
    max-width: 960px;
    border: 1px solid black;
  }
}
*/
