// settings.colors.scss
//
// - global color variables

$color-stack: (
  bg--base: #e4ddbd, // light sand // '$index-color'
  bg--selected: #a6a38c, // dark sand // '$primary-color' 
  font--base: #222222, // gentle black
  font__link--base: #57493e, // brown // '$secondary-color'
  font__link--selected: #316481 // teal // '$highlight-color'
);
