// settings.colors.scss
//
// - global color variables

$color-stack: (
  bg--base: #f0f0f0,
  font--base: #505050,
  font__link--base: #505050,
  font__link--selected: #911e06, // #91aa9d,
  btn--base: #505050
);

$brick-stack: (
  shade--1: #a62103,
  shade--2: #731702,
  shade--3: #400101,
  shade--4: #260101
);
