// _settings.global.scss
//
// - global variables (excluding color, as that would be in _settings.colors.scss)

// can't seem to use sass maps as they seem to require a 1 to 1 mapping of key to value
$font-stack--base: Lato, Helvetica, sans-serif;
$font-stack--logo: Pacifico, Helvetica, sans-serif;

$z-index: (
  site-nav: 9000
  // modal
  // overlay
  // etc
);

// width breakpoints
$width-breakpoints: (
  small: 600px,
  medium: 900px,
  large: 1200px // and larger
);

// max width overall
$max-width: 1600px;
$form-width: 720px;

$paths: index, addesque, myesques, heartedesques
