// _trumps.alignment.scss
//
// helpers for alignment

.is-text-aligned-left {
  text-align: left !important;
}

.is-text-aligned-right {
  text-align: right !important;
}

.is-text-aligned-center {
  text-align: center !important;
}
