// _block.body.search-book-preview.scss
//
// - search bar and the preview section

.wrapper--search {
  @include setWrapper(0, true);
  margin-bottom: 0;
}

.wrapper--preview {
  @include setWrapper(1rem, true);
  //padding-top: 4rem; // space for the close button
  margin-top: 0;
  border-top: none;
  text-align: center;
  font-family: $font-stack--books;
}

// bad idea to write the redundant into the generic as the wrapper name would be generic
.wrapper__subwrapper--search {
  padding: 1rem;
  text-align: center;
}


.search {
  &__bar {
    display: inline-block;

    &__label {
      height: 2rem;
      border: 1px solid map-get($color-stack, font__link--base);
      vertical-align: top;
      padding: 0.25rem 0.5rem 0;
      font-size: 1rem;
      background-color: #cacaca;
    }

    &__option {
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      border: 1px solid map-get($color-stack, font__link--base);
      background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      height: 2rem;
      padding: 0 1.4rem 2px 0.8rem;
      background-color: #cacaca;
      vertical-align: top; 
    }

    &__input {
      margin: 0 auto;
      width: calc(100% - 8.5rem);
      border-width: 1px 0;
      border-style: solid;
      border-color: map-get($color-stack, font__link--base);
      &--mybookshelf {
        width: calc(100% - 13rem);
      }
    }

    &__submit {
      padding: 0 0.5rem 2px;
      height: 2rem;
      border: 1px solid map-get($color-stack, font__link--base);
      vertical-align: top;
      @include setBgColorAndHover(map-get($color-stack, bg--base));
    }
  }
}

.preview {

  &__link {
    display: inline-block;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }
  &__author {
    font-size: 0.9rem;
    margin-bottom: 1rem; 
  }

  &__description {
    text-align: left;
    text-indent: 1rem;
    margin-bottom: 1rem;
  }

  /*
  &__permalink {
    font-size: 0.9rem;
    text-align: left;
    font-weight: bold;
  }
  */

  &__submit {
    @include setButton();
  }

  &__close {
    border: 1px solid map-get($color-stack, font__link--base);
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    //transform: translateY(-50%);
    @include setBgColorAndHover();
  }
}
