// _block-site-nav.scss
//
// - site navigation styling

.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  z-index: map-get($z-index, site-nav);
  background: #fff;

  &--document-flow-placeholder {
    height: 51px;
    width: 100%;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 1rem;
    transform: translateY(-50%);
    //height: 3.2rem;
    //width: auto;

    &--text {
      font-size: 2rem;
      font-family: $font-stack--logo;
      color: map-get($color-stack, font__link--selected);
    }
  }

  &__list {
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
  }

  ul a:not([class~='index']) {
    display: inline-block;
    padding: 1rem;
    width: 100%;
  }

  @each $path in $paths {
    ul.#{$path} li.#{$path} {
      background: map-get($color-stack, bg--selected);
    }
  }
}


