// _block.body.style.request.scss
//
// general styling of the request path

.wrapper {
  &--request {
    &__selection {
      @include setWrapper(0, true);
      padding: 0 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
     // background-color: map-get($color-stack, bg--base);
    }

    &__confirm {
      @include setWrapper(1rem, true);
      text-align: center;
    }
  }
}

.message--request {
  padding: 1rem 0;
}

.request {
  &__step-number { // text styling of the request step numbers
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5rem;

    &--incomplete {
      color: map-get($color-stack, font__link--selected);
      background: map-get($color-stack, bg--selected);
    }

    &--complete {
      color: map-get($color-stack, font__link--base);
      background: map-get($color-stack, bg--base);
    }
  }

  &__selection {
    &__description {
      margin: 1rem;
      //flex: 1;
      text-align: center;
    }

    &__book-image {
      margin: 1rem;
      //flex: 1;
      //display: flex;
      //justify-content: center;
    }

    &--title {
      display: inline-block;
    }
    &--author {
      display: inline-block;  
    }

    &--book {
      // display: inline-block;
    }

    &__close {
      border: 1px solid map-get($color-stack, font__link--base);
      height: 2rem;
      width: 2rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      //transform: translateY(-50%);
      @include setBgColorAndHover();
    }
  }


  &__button {
    // base styling from .button--1
    &--swap {
      @include setButton();
      margin: 1rem;
    }

    &--cancel {
      @include setButton();
      margin: 1rem;
    }
  }
}
