// _block.body.index.banner.scss
//
// style of the main banner on the index page

$words: ideas, adventure, inspiration, books, swap;

.wrapper--banner {
  height: 100%;
  width: 100%;
  // text-align: center;
  // padding: 1rem;
  // display: inline-block;
}

.banner {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: calc(100% - 110px);
  //text-align: center;
  background-color: map-get($color-stack, bg--base);

  &__title {
    color: map-get($color-stack, font__link--base);
    font-size: 3rem;
    font-family: Raleway;
    display: inline-block;
    vertical-align: middle;

    &--pre {
      cursor: default;
      position: absolute;
      top: calc(50% - 0.25rem);
      left: calc(50% - 100px);
      transform: translate(-50%, -50%);
      transition: all 1.5s ease;
      &.translate--pre {
        left: calc(50% + 105px);
      }
    } 
    
    &--post {
      color: map-get($color-stack, font__link--selected);
  //    position: absolute;
  //    top: calc(50% - 0.25rem);
      // ideas 115px
  //    left: calc(50% + 115px); 
      // inspiration; adventure 175px
      // left: calc(50% + 175px);
      // books 125px;
      // swap 120px;
  //    transform: translate(-50%, -50%);
  //    opacity: 1;
  //    transition: all 1s ease;
    }
  }

  &__image {
    display: inline-block;
    margin: 0 0.5rem;
    vertical-align: middle;
 //   position: absolute;
 //   top: 50%;
 //   left: 50%;
 //   transform: translate(-50%, -50%);
 //   opacity: 1;
 //   transition: all 1s ease;

    &--book {
      display: block;
      height: 64px;
      width: 64px;
    }
  }

  &__subtitle {
    margin-top: 1rem;
  }
}


// transitions
@each $word in $words {
  .transition--#{$word} {
    cursor: default;
    position: absolute;
    top: calc(50% - 0.25rem);

    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 1.5s ease;

    @if $word == ideas {
      left: calc(50% + 60px);
    } @else if $word == adventure {
      left: calc(50% + 115px);
    } @else if $word == inspiration {
      left: calc(50% + 115px);
    } @else if $word == books {
      left: calc(50% + 70px);
    } @else if $word == swap {
      left: calc(50% + 98px);
    }

    
    &.move-down-fade-in {
      opacity: 0;
      top: 25%;
    }

    &.move-down-fade-out {
      opacity: 0;
      top: 75%;
    }

    &.translate--post {
      left: calc(50% - 100px);
    }
  }
}

