footer By 
  a(href='https://timolawl.github.io') Timolawl
  span  | 
  a(href='https://twitter.com/tim_chiang') Twitter
  span  | 
  a(href='https://github.com/timolawl') GitHub
  span  | 
  a(href='https://codepen.io/timchiang') Codepen
  span  | 
  a(href='https://freecodecamp.com/timolawl') Free Code Camp
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js' integrity='sha256-WKvqiY0jZHWQZIohYEmr9KUC5rEaYEOFTq+ByllJK8w=' crossorigin='anonymous')

script(src='/static/js/post.bundle.js')
