doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    title Pinteresque, a Free Code Camp Project
    script(src='/static/js/pre.bundle.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Pacifico')
    link(rel='stylesheet' href='/static/css/style.css')
  body
    .wrapper--max-width
      nav.site-nav
        ul(class= path)
          a.site-nav__logo(href='/').index: .site-nav__logo--text Pinteresque
          if loggedIn
            li.site-nav__list.addesque: a(href='/addesque') Add Esque
            li.site-nav__list.myesques: a(href='/myesques') My Esques
            li.site-nav__list.heartedesques: a(href='/heartedesques') Hearted Esques
            li.site-nav__list.logout: a(href='/logout') Log Out
          else
            li.site-nav__list.login
              a.login__link(href='/login/twitter')
                button.login__button
                  img.login__image(src='/static/img/twitter.svg') 
                  .login__text Log in with Twitter
      .site-nav--document-flow-placeholder.is-displayed
