include /includes/header.pug
section.banner
  .wrapper--banner
    .banner__title.banner__title--pre Swap

    .transition--ideas
      .banner__image: img.banner__image--book(src='/static/img/book--1.svg')
      .banner__title.banner__title--post Ideas

    .transition--adventure.is-invisible.move-down-fade-in
      .banner__image: img.banner__image--book(src='/static/img/book--2.svg')
      .banner__title.banner__title--post Adventure

    .transition--inspiration.is-invisible.move-down-fade-in
      .banner__image: img.banner__image--book(src='/static/img/book--3.svg')
      .banner__title.banner__title--post Inspiration

    .transition--books.is-invisible.move-down-fade-in
      .banner__image: img.banner__image--book(src='/static/img/book--base.svg')
      .banner__title.banner__title--post Books

    .transition--swap.is-invisible
      .banner__title.banner__title--post Book
include /includes/footer.pug
